<nav>
  <div class="container">
    <div class="nav-left">
      <div class="logo"><h4>Hello</h4></div>
    </div>
    <div class="nav-right">
      <ul>
        <li class="nav_link">
          <a routerLink="/home" routerLinkActive="active" class="nav-item"
            >Home</a
          >
        </li>
        <li class="nav_link">
          <a routerLink="/about" routerLinkActive="active" class="nav-item"
            >About</a
          >
        </li>
        <li class="nav_link">
          <a routerLink="/help" routerLinkActive="active" class="nav-item"
            >Help</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
