*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: monospace;
}
.main-section{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
outline: none;
border: none;
background: none;   
}